<!DOCTYPE html>
  <head>
    <title>Node: Workshop 2</title>
    <link rel="stylesheet" href="../css/homepage.css" />
  </head>
  <body>
<div>
    <h1>NODE: WORKSHOP 2</h1>
<div>
<div>
    <ul class="questions">
        <li>
            <a href="http://localhost:4000/question1"><button>Question 1</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question2"><button>Question 2</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question3"><button>Question 3</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question4"><button>Question 4</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question5"><button>Question 5</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question6"><button>Question 6</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question7"><button>Question 7</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question8"><button>Question 8</button></a>
        </li>
        <li>
            <a href="http://localhost:4000/question9"><button>Question 9</button></a> 
        </li>
        <li>
            <a href="http://localhost:4000/question10"><button>Question 10</button></a>
        </li>
    </ul>
</div>


</body>