<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/8') %>
      <div class="box answer">
        <h3>Answer</h3>
        <ul>
        <li><a href="http://localhost:4000/question7">previous</a></li>
        <li><a href="http://localhost:4000/question9">next</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
